{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/fileinput.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
    <script src="{{ url_for('static',filename='js/fileinput.min.js') }}" async></script>
{% endblock %}

{% block main %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <h3 class="page-title">Lab Management Tool</h3>
    <div class="form-container">

    </div>
{% endblock %}
